@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-linear-gradient1{
        background-image: linear-gradient(hsl(240, 38%, 51%),hsla(0, 51%, 35%, 0.514));
    }
    .adjustable-font-size{
        font-size: clamp(14px,1rem,22px);
        line-height: clamp(14px,1.4rem,28px);
    }
    .good-p-height{
        height: calc(100% - 30px);
    }
    .reverse-grid-flow{
        grid-auto-flow: column-reverse;
    }
    .header-bg {
        background: linear-gradient(to right,black,rgb(211, 211, 211));
    }
}