@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-linear-gradient1{
        background-image: linear-gradient(hsl(240, 19%, 16%),hsla(0, 29%, 37%, 0.514));
    }
    .adjustable-font-size{
        font-size: clamp(14px,1rem,22px);
        line-height: clamp(14px,1.4rem,28px);
        font-family: sans-serif,serif;
    }
    .good-p-height{
        height: calc(100% - 30px);
    }
    .reverse-grid-flow{
        grid-auto-flow: column-reverse;
    }
    .header-bg {
        background: linear-gradient(to right,black,rgb(211, 211, 211));
    }
    h2{
        font-family: 'Times New Roman', Times, serif;
    }
    .button-anim {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:-rotate-[720deg] [&>div::before]:bg-black [&>div::after]:bg-black
    }

    
}